    /* Класс для заострения уголков кнопки меню с удаленными постами */
    .WhenMenuOpen{
        border-radius: 10px 10px 0 0 !important;
    }

    /* Контейнер для меню */
    #DivForMenus{
        display: flex;
        flex-direction: row;
    }

    /* Кнопка для открытия меню с удаленными постами и основного меню*/
    #DeletedPostsMenu, #MainMenuButton{
        background-color: #3498DB;
        border: none;
        cursor: pointer;
        font-size: 14pt;
        border-radius: 10px;
        width: 200px;
        margin-right: 5px;
    }
    
    /* Меню с удаленными постами */
    #DropMenuDeletedPosts{
        position: absolute;
        background-color: lightgray;
        z-index: 12;
        max-height: 50vh;
        border-radius: 0  0 10px 10px;
        width: 200px;
        min-height: 25px;
        padding-bottom: 10px;
    }

    /* Контейнер в меню с удаленными постами */
    #DeletedPostsTableDiv{
        width: 190px;
        overflow-y: scroll;
        scrollbar-color: rgb(80, 163, 190) lightgray;
        scrollbar-width: thin;
        max-height: 50vh;
    }

    /* Основное меню */
    #MainMenu{
        position: absolute;
        background-color: lightgray;
        z-index: 12;
        width: 200px;
        border-radius: 0 0 10px 10px;
    }

    #DeletedPostsMenu:hover, #MainMenuButton:hover{
        background-color: #2980B9;
    }

    /* Функции основного меню */
    .MainMenuItem{
        transition: background-color .3s;
        cursor: pointer;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 200px;
        padding: 5px 0;
        font-size: 12pt;
        font-weight: 600;
        user-select: none;
        -moz-user-select: none;
    }

    .MainMenuItem:hover{
        transition: background-color .3s;
        background-color: rgb(231, 231, 231);
    }

    #IndentDiv2{
        height: 10px;
    }

    /* Полоска в главном меню для разделения элементов */
    .Strips{
        margin: 0;
    }

    /* Контейнер в котором находится крестик */
    .PostDeleterDiv{
        display: flex;
        background-color: white;
        justify-content: flex-end;
    }

    /* Контейнер с картинкой крестика */
    .PostDeleter, #CloseAboutButton{
        border: none;
        float: right;
        padding: 5px;
        background: inherit;
        cursor: pointer;
    }

    /* id удаленного поста в выпадающем меню с удаленными постами */
    .DeletedPostName{
        margin: 0.5% 0;
    }

    /* Контейнер для отступа кнопки открывающей меню с удаленными постами от самих постов */
    #IndentDiv{
        margin: 1%;
    }

    /* Крестик */
    .DeleterImage, #CloseAboutImage{
        width: 2vw;
        height: 2vw;
        background-color: #F69291;
        clip-path: polygon(15% 0, 0 15%, 35% 50%, 0 85%, 15% 100%, 50% 65%, 85% 100%, 100% 85%, 65% 50%, 100% 15%, 85% 0, 50% 35%);
    }

    /* Затемнение при открытии справки */
    #BackgroundFullScreenPostDeleter{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: black;
        opacity: 0.5;
        z-index: 1000;
        top: 0;
    }

    /* Справка */
    #AboutPostDeleter{
        position: fixed;
        padding: 10px;
        height: 80vh;
        width: 50vw;
        background: cornsilk;
        border-radius: 10px;
        font-size: 12pt;
        top: 10vh;
        left: 25vw;
        z-index: 1001;
    }

    #AboutHeader{
        display: flex;
        justify-content: space-between;
    }

    #AboutBody{
        width: 100%;
        height: 90%;
        border: none;
    }

    /* Настройки красивого скроллбара (не работает в firefox) */
    #DeletedPostsTableDiv::-webkit-scrollbar {
        background-color: lightgray;
        width: 10px;
    }
    #DeletedPostsTableDiv::-webkit-scrollbar-track{
        border-radius: 10px;
    }
    #DeletedPostsTableDiv::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(180deg, #00c6fb, #005bea);
    }