    /* Класс для заострения уголков кнопки меню с удаленными постами */
    .WhenMenuOpen{
        border-radius: 10px 10px 0 0 !important;
    }

    /* Контейнер для меню */
    #DivForMenus{
        display: flex;
        flex-direction: row;
    }

    /* Кнопка для открытия меню с удаленными постами и основного меню*/
    #DeletedPostsMenu, #MainMenuButton{
        background-color: #3498DB;
        border: none;
        cursor: pointer;
        font-size: 14pt;
        border-radius: 10px;
        width: 200px;
        margin-right: 5px;
    }
    
    /* Меню с удаленными постами */
    #DropMenuDeletedPosts{
        position: absolute;
        background-color: lightgray;
        z-index: 12;
        max-height: 50vh;
        border-radius: 0  0 10px 10px;
        width: 200px;
        min-height: 25px;
        padding-bottom: 10px;
    }

    /* Контейнер в меню с удаленными постами */
    #DeletedPostsTableDiv{
        width: 190px;
        overflow-y: scroll;
        scrollbar-color: rgb(80, 163, 190) lightgray;
        scrollbar-width: thin;
        max-height: 50vh;
    }

    /* Основное меню */
    #MainMenu{
        position: absolute;
        background-color: lightgray;
        z-index: 12;
        width: 200px;
        border-radius: 0 0 10px 10px;
    }

    #DeletedPostsMenu:hover, #MainMenuButton:hover{
        background-color: #2980B9;
    }

    /* Функции основного меню */
    .MainMenuItem{
        transition: background-color .3s;
        cursor: pointer;
        display: flex;
        min-height: 25px;
        font-size: 12pt;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        user-select: none;
        -moz-user-select: none;
    }

    .MainMenuItem:hover{
        transition: background-color .3s;
        background-color: rgb(231, 231, 231);
    }

    #IndentDiv2{
        height: 10px;
    }

    /* Меню с очисткой данных */
    #ClearCacheMenu{
        height: 50px;
        transform-origin: top;
    } 

    /* Контейнер с текстом "Очистить данные?" */
    #ClearCacheSure{
        font-weight: 600;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Кнопка отмены удаления данных */
    #ClearCacheNO{
        margin: 5px;
        float: right;
        cursor: pointer;
        border-width: 0px;
        border-radius: 5px;
        background-color: rgb(255, 108, 108);
        width: 30%;
    }

    /* Кнопка подтверждения очистки данных */
    #ClearCacheYES{
        margin: 5px;
        float: left;
        cursor: pointer;
        border-width: 0px;
        border-radius: 5px;
        background-color: green;
        width: 30%;
    }

    /* Полоска в главном меню для разделения элементов */
    .Strips{
        margin: 0;
    }

    /* Контейнер в котором находится крестик */
    .PostDeleterDiv{
        display: flex;
        background-color: white;
        justify-content: flex-end;
    }

    /* Контейнер с картинкой крестика */
    .PostDeleter{
        border: none;
        float: right;
        margin: 0 5px;
        padding: 0 5px;
        background: white;
        cursor: pointer;
    }

    /* id удаленного поста в выпадающем меню с удаленными постами */
    .DeletedPostName{
        margin: 0.5% 0;
    }

    /* Контейнер для отступа кнопки открывающей меню с удаленными постами от самих постов */
    #IndentDiv{
        margin: 1%;
    }

    /* Крестик */
    .DeleterImage{
        width: 2.5vw;
        height: 2.5vw;
    }

    #BackgroundFullScreen_PostDeleter{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: black;
        opacity: 0.5;
        z-index: 1000;
        top: 0;
    }

    #AboutPostDeleter{
        position: fixed;
        opacity: 1;
        height: 50vh;
        width: 50vw;
        background: cornsilk;
        border-radius: 10px;
        font-size: 12pt;
        top: 25vh;
        left: 25vw;
        z-index: 1001;
    }

    /* Настройки красивого скроллбара (не работает в firefox) */
    #DeletedPostsTableDiv::-webkit-scrollbar {
        background-color: lightgray;
        width: 10px;
    }
    #DeletedPostsTableDiv::-webkit-scrollbar-track{
        border-radius: 10px;
    }
    #DeletedPostsTableDiv::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(180deg, #00c6fb, #005bea);
    }